body.page-example3 {
    background-color:#79e2f5;
}

body.page-example4
{
color: #00ff00;
}

body.page-example5 {
 color: #00ff00;
 background-color:#ff0000;
 background-image: url(".image/ball.jpg");
 background-size: 400px 250px;
    background-repeat: no-repeat;
    background-position: center top;
}

body.page-example6{font-family: Arial, Candara, Century-Gothic, sans-serif}

h1.body.page-example7{
 font-family: Arial, Candara, Century-Gothic, sans-serif;
 font-style: normal;
}
h2.body.page-example7{
 font-family: Times New Roman, Georgia, serif;
 font-style: italic;
}
p.body.page-example7{
 font-family: Times New Roman, Georgia, serif;
 font-style: oblique;
}

p.body.page-example8{
 font-family: Arial, Candara, Century-Gothic, sans-serif;
 font-style: normal;
 font-variant: small-caps;
}

p.body.page-example9{
 font-family: Arial, Candara, Century-Gothic, sans-serif;
 font-style: normal;
 font-variant: normal;
 font-weight: 600;
}

h1.body.page-example10{
 font-family: Arial, Candara, Century-Gothic, sans-serif;
 font-style: normal;
 font-size: 30px;
}
h2.body.page-example10{
 font-family: Times New Roman, Georgia, serif;
 font-style: italic;
 font-size: 100pt;
}
h3.body.page-example10{
 font-family: Times New Roman, Georgia, serif;
 font-style: italic;
 font-size: 120%;
}
p.body.page-example10{
font-style: italic;
font-weight: bold;
font-size: 30px;
font-family: arial, sans-serif;
}




